

{% load static %}

<footer class="jobplugin__footer jobplugin__bg-dark jobplugin__footer-cta-spacer">
    <div class="jobplugin__container">
        <!-- Footer Four Columns -->
        <div class="jobplugin__row jobplugin__four-column" id="contact-list">
            <div class="jobplugin__column">
                <!-- Footer Column Head -->
                <div class="jobplugin__footer-head">
                    <h4 class="h5">For Clients</h4>
                    <span class="jobplugin__footer-head__seprator jobplugin__bg-primary"></span>
                </div>

                <!-- Footer Links -->
                <nav class="jobplugin__footer-links">
                    <ul>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">How to Hire</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Talent Marketplace</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Project Catalog</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Hire an Agency</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Enterprise</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Any Hire</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Contract-to-Hire</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="jobplugin__column">

                <!-- Footer Column Head -->
                <div class="jobplugin__footer-head">
                    <h4 class="h5">For Talent</h4>
                    <span class="jobplugin__footer-head__seprator jobplugin__bg-primary"></span>
                </div>
                <!-- Footer Links -->
                <nav class="jobplugin__footer-links">
                    <ul>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">How to Find Work</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Direct Contracts</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="jobplugin__column">
                <!-- Footer Column Head -->
                <div class="jobplugin__footer-head">
                    <h4 class="h5">Resources</h4>
                    <span class="jobplugin__footer-head__seprator jobplugin__bg-primary"></span>
                </div>
                <!-- Footer Links -->
                <nav class="jobplugin__footer-links">
                    <ul>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Help & Support</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Success Stories</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Resources</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% comment %} <span class="jobplugin__footer-links__icon jobplugin__text-primary rj-icon rj-forward"></span> {% endcomment %}
                                <span class="jobplugin__footer-links__text">Community</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="jobplugin__column">
                <!-- Footer Column Head -->
                <div class="jobplugin__footer-head">
                    <h4 class="h5">Contact</h4>
                    <span class="jobplugin__footer-head__seprator jobplugin__bg-primary"></span>
                </div>
                <!-- Footer Links -->
                <nav class="jobplugin__footer-links">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="jobplugin__footer-links__number">+977 9869358650</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="jobplugin__footer-links__text">workwise@gmail.com</span>
                            </a>
                        </li>
                        <li>
                            <address class="jobplugin__footer-links__address">Kathmandu, koteshowor</address>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Footer Secondary -->
    <div class="jobplugin__footer-secondary">
        <div class="jobplugin__container">
            <!-- Footer Sublinks -->
            <ul class="jobplugin__footer-sublinks">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <!-- Footer Social Networks -->
            <ul class="jobplugin__social-networks">
            <li>
                <a class="hover:jobplugin__bg-primary hover:jobplugin__border-primary" href="#" aria-label="Facebook">
                <i class='bx bxl-facebook-square'></i>
                </a>
            </li>
            <li>
                <a class="hover:jobplugin__bg-primary hover:jobplugin__border-primary" href="#" aria-label="Instagram">
                <i class='bx bxl-instagram'></i>
                </a>
            </li>
            <li>
                <a class="hover:jobplugin__bg-primary hover:jobplugin__border-primary" href="#" aria-label="Twitter">
                <i class='bx bxl-twitter'></i>
                </a>
            </li>
            <li>
                <a class="hover:jobplugin__bg-primary hover:jobplugin__border-primary" href="#" aria-label="YouTube">
                <i class='bx bxl-youtube'></i>
                </a>
            </li>
            </ul>

            <!-- Footer Copyrights Text -->
            <p class="jobplugin__copyrights">© 2015 - 2023 WorkWise ®      All Rights Reserved.</p>
        </div>
    </div>
</footer>